

* {
    margin: 0;
    /* lets player draw on mobile */
    /* scorched earth, iOS does not make this easy */
    user-select: none;
    touch-action: none;
    /* pointer-events: none; */
    -webkit-touch-callout: none;
    -webkit-user-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-modify: none;
    -webkit-highlight: none;
    -moz-user-select: none;
    /* somehow, despite all this, iOS still has a selection popup occasionally... */
}
html, body, #root, #app {
    height: 100%;
    display: flex;
    justify-content: center;
}
body {
    font-family: Arial;
    background-color: #eeeee8;
}
button {
    color: black;
}

.status {
    text-align: center;
    font-weight: bold;
}
.status.error {
    color: darkred;
}

.countdown {
    font-size: 2em;
}

.player-icon {
    width: 2.4em;
    height: 2.4em;
    flex: 0 0 2.4em;
}
.player-view {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.3em;
}


.tab {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 28px;
}
