

* {
	margin: 0;
	user-select: none;
}
html, body, #root, #app {
	height: 100%;
	display: flex;
	justify-content: center;
}
body {
	font-family: Arial;
	background-color: #eeeee0;
}


button, input {
	font-size: 0.9em;
	border: 3px solid #333;
	border-radius: 6px;
	color: black;
}

.tab, .vflow {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	gap: 10px;
	margin: 28px;
	font-size: 1.2em;
}

.status {
	text-align: center;
	font-weight: bold;
}
.status.error {
	color: darkred;
}

.countdown {
	font-size: 1.6em;
}

.player-icon {
	width: 2.0em;
	height: 2.0em;
	flex: 0 0 2.0em;
}
.player-view {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 0.3em;
}

#icon-row {
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	font-size: 1em;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: none;
	
	border: none;
	background-color: rgba(0, 0, 0, 0.45);
}

.mounted-btn-vflow {
	position: fixed;
	left: 0.5em;
	bottom: 0.5em;
}
.mounted-btn-vflow button {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
	
	width: 2.2em;
	height: 2.2em;
	padding: 0.2em;
	margin: none;
}
.mounted-btn-vflow button img {
	margin: none;
	width: 100%;
	height: 100%;
}

