
* {
	/*touch-action: pinch-zoom;*/
	/*touch-action: manipulation;*/ /* ios safari ignores this, because of course it does */
}

body {
	/*position: fixed;*/
	font-size: 16px;
}

/* Landing */
.tab#landing, .tab#lobby {
	justify-content: space-between;
}

.tab#landing input {
	margin-top: 2px;
	width: 9em;
}
.tab#landing button, .tab#lobby button {
	margin-top: 0.4em;
}

#code-input {
	text-transform: uppercase;
}

#help-popup .section {
	margin-top: 0.6em;
}



/* Lobby */
.icon-select {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	font-size: 2em;
	margin-bottom: 1em;
}
#start-btn:disabled {
	filter: brightness(0.6);
}

/* Drawing */
.tab#draw {
	height: 100%;
	
	flex-flow: row wrap;
	justify-content: center;
	margin: auto;
}
.tab#draw #goblin-name {
	flex: 1 0;
	text-align: center;
	font-size: 1.6em;
}
.tab#draw .countdown {
	flex: 1 0;
	text-align: center;
}
#drawpad {
	touch-action: pinch-zoom;
	width: min(96vw, 78vh);
	display: flex;
	flex-flow: column nowrap;
	border: 0.6vmin solid black;
}
#drawpad #canvas {
	aspect-ratio: 1;
	width: 100%;
	height: auto;
	background-color: white;
	border-top: 0.6vmin solid black;
	border-bottom: 0.6vmin solid black;
}
#drawpad .btn-row {
	display: flex;
	flex-flow: row nowrap;
}
#drawpad button {
	flex: 1;
	aspect-ratio: 1 / 1;
	border: 0;
	border-radius: 0;
	margin: 0;
	padding: 0;
}
#drawpad button img {
	width: 100%;
	height: auto;
}
#drawpad .color-select-btn {
	border: 0.2em solid;
	
}
#drawpad #spacer-btn {
	flex: 2;
	aspect-ratio: 2 / 1;
}
#drawpad #submit-btn {
	flex: 4;
	aspect-ratio: 4 / 1;
	
	font-size: 1.2em;
	background-color: #4A5;
	transition: background-color 0.8s;
}
#drawpad #submit-btn:hover:enabled {
	filter: brightness(1.06);
}
#drawpad #submit-btn:active:enabled {
	/*transition: background-color 0.7s;*/
	background-color: #090;
}
#drawpad #submit-btn.submitted {
	background-color: #070;
}

