
@use "../styles/index.scss" as *;

body {
	touch-action: manipulation;
}
:root {
	background-image: url("../assets/misc/background.png");
}


#about-popup {
	@include popup;
}
#help-popup {
	@include popup;
	.small {
		font-size: 0.8em;
	}
}
#name-popup {
	@include popup;
}
#bachelor-popup {
	@include popup;
	
	max-height: 90vh;
	padding: 8px;
	
	#bachelor-ctr {
		max-width: min(93vw, 63vh); // 69vh, if not for multi-line bachelor-names...
		@include column(center, stretch);
		@include border-thin(6px);
		padding-top: 2px;
		
		background-color: gray(1); //primary(2);
		#bachelor-name {
			max-width: 100%;
			font-size: 1.6rem;
			overflow-wrap: break-word;
		}
		#bachelor-img {
			margin: 4px;
			min-width: 0;
			min-height: 0;
			width: 100%;
			height: auto;
		}
	}
}


@keyframes swoop-in {
	from {
		transform: translateY(10px);
		opacity: 0%;
	}
	to {}
}


/*#help-popup {
	//@include popup;
	justify-content: space-between;
	
	.section { margin-top: 0.6em; }
	.small { font-size: 0.86em; }
}
#bachelor-popup {
	//@include popup;
	max-width: 86vw;
	background-color: #eee;
}*/
/*#name-popup {
	//@include popup;
}*/

/* Landing */
%menu-tab {
	//justify-content: space-between;
	
	button {
		//margin-top: 0.4em;
	}
}
#landing {
	
	input {
		width: 100%;
		max-width: 20ch;
		//width: min(80vw, 20ch);
	}
	b {
		font-weight: 600;
	}
	.page {
		@include column(flex-start, center, 16px);
	}
	.section {
		@include column(12px);
	}
	.header {
		//@include row(space-between, center, 6px);
		//padding-bottom: 2px;
		font-size: 1.4rem;
		font-weight: 600;
		text-align: left;
		border-bottom: border(2px);
	}
	
	.card {
		//margin: 16px;
		width: min(32ch, 92vw);
		
		@include column(8px);
		padding: 16px;
		padding-top: 14px;
		
		//font-size: 1.2rem;
		
		background-color: primary(3);
		border: 2px solid primary(7);
		border-radius: 6px;
		
	}
	.content {
		@include column(flex-start, flex-start, 6px);
		font-size: 0.9rem;
		text-align: left;
		
		.host-diagram {
			align-self: center;
			flex: 0 1 240px;
		}
	}
	
	.info-card {
		@extend .card;
	}
	
	#primary-card {
		@extend .card;
		background-color: primary(4);
		border-color: primary(8);
		
		button {
			align-self: center;
		}
	}
	#host-flow {
		@include column(12px);
		font-size: 1.2rem;
	}
	#join-flow {
		font-size: 1.2rem;
	}
	#code-input {
		text-transform: uppercase;
	}
	#status {
		max-width: 100%;
		text-wrap: wrap;
	}
	.card-ctr {
		@include row-wrap(center, stretch, 16px);
	}
	#info-cards {
		@include column(16px);
		//@include row-wrap(center, stretch, 16px);
	}
	#flags {
		margin: 4px;
		height: 30px;
		@include row(center, center, 8px);
		//font-size: 24px;
		font-size: 1.5em;
		.flag {
			height: 100%;
			//width: 12px;
			//width: 36px;
			text-align: center;
		}
	}
}
#lobby {
	@extend %menu-tab;
	#icon-select {
		margin: 6px;
		@include column(center);
		font-size: 2rem;
		.icon-row {
			@include row(center);
		}
	}
	#start-btn:disabled {
		filter: brightness(0.6);
	}
}

/* Drawing */
#draw, #draw-bachelor, #draw-suitor {
	
	@include column;
	//@include flex(row wrap, center, center, 0.6em);
	//align-content: center;
	//margin: auto;
	
	
}
#drawpad-ctr {
	//width: 100%;
	
	//max-width: 100;
	min-width: content;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	
	flex: 1 1 0;
	//min-width: min-content;
	
  @include row-wrap(center, center);
	align-content: space-evenly;
	padding: 8px;
	gap: 8px;
	
	overflow: scroll;
	
	#bachelor-theme {
		flex: 0.5 1 0;
		min-width: min-content;
		font-size: 1.1em;
		/*text-align: center;
		font-size: 1.6em;
		//*/
	}
	
	#info {
		text-wrap: balance;
		font-size: 1.1rem;
		flex: 1 0.5 0;
		max-width: max-content;
		
		#goblin-name {
			text-align: center;
			font-size: 1.1em;
		}
	}
	
	
}
#drawpad {
	
	$border: 3px solid black;
	
	//flex: 1 1 auto;
  //max-height: 96%;
  
  max-width: 100%;
  //width: 81vh;
  //width: 75vh;
	width: 75vh;
	//min-width: 0;
  
	@include column(center, stretch);
	
	border: $border;
	touch-action: pinch-zoom;
	
	#canvas-ctr {
		position: relative;
		aspect-ratio: 1;
		background-color: white;
		border-top: $border;
		border-bottom: $border;
		
		canvas {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	/*#canvas {
		aspect-ratio: 1;
		background-color: white;
		border-top: $border;
		border-bottom: $border;
	}*/
	
	%btn-row {
		
		@include flex(row nowrap);
		
		button {
			
			flex: 1;
			border: 0;
			border-radius: 0;
			margin: 0;
			padding: 0;
			height: 100%;
			
			// this is necessary to make the parent aspect-ratio work properly when the button has a child
			@include row(center, center);
			
			img {
				width: 100%;
				min-height: 0;
				//height: 0;
				aspect-ratio: 1;
			}
		}
	}
		
	#color-btn-row {
		@extend %btn-row;
		aspect-ratio: 12 / 1;
		
		button {
			height: 100%;
			min-height: 0;
			border: 4px solid;
		}
	}
	
	#action-btn-row {
		@extend %btn-row;
		aspect-ratio: 10 / 1;
    background-color: primary(1);
		
		* {
			stroke: blue;
			//stroke-width: 2;
			fill: red;
		}
		
		.spacer {
			flex: 1;
		}
    /*button {
      background-color: primary(2);
    }*/
		#submit-btn {
			flex: 5;
			
			font-size: 0.96em;
			white-space: nowrap;
			background-color: #4A5;
			transition: background-color 0.8s;
			
			&:hover:enabled { filter: brightness(1.06); }
			&:active:enabled { background-color: #090; }
			&:disabled { background-color: #070; }
		}
	}
}


