
@use "../styles/index.scss" as *;

body {
	/*position: fixed;*/
	font-size: 16px;
}

#help-popup {
	@include popup;
	justify-content: space-between;
	/*height: 100%;*/
	
	.section { margin-top: 0.6em; }
	.small { font-size: 0.86em; }
}
#bachelor-popup {
	@include popup;
	
}
#name-popup {
	@include popup;
}

/* Landing */
%menu-tab {
	justify-content: space-between;
	button {
		margin-top: 0.4em;
	}
}
#landing {
	@extend %menu-tab;
	input {
		margin-top: 2px;
		width: 9em;
	}
	#code-input {
		text-transform: uppercase;
	}
}
#lobby {
	@extend %menu-tab;
	.icon-select {
		@include flex(row wrap, center);
		font-size: 1.6em;
		margin-bottom: 1em;
	}
	#start-btn:disabled {
		filter: brightness(0.6);
	}
}

/* Drawing */
#draw, #draw-bachelor, #draw-suitor {
	
	@include flex(row wrap, center, center, 0.6em);
	align-content: center;
	margin: auto;
	
	#info {
		#goblin-name {
			text-align: center;
			font-size: 1.6em;
		}
		.countdown {
			text-align: center;
		}
	}
}

/* Drawpad */
#drawpad {
	
	$border-style: 4px solid black;
	
	width: min(94vw, 77vh);
	
	@include flex(column nowrap, center, stretch);
	
	border: $border-style;
	touch-action: pinch-zoom;
	
	#canvas {
		aspect-ratio: 1;
		width: 100%;
		height: auto;
		background-color: white;
		border-top: $border-style;
		border-bottom: $border-style;
	}
	
	%btn-row {
		
		aspect-ratio: 10 / 1;
		
		@include flex(row nowrap);
		
		button {
			flex: 1;
			border: 0;
			border-radius: 0;
			margin: 0;
			padding: 0;
			height: 100%;
			img {
				width: 100%;
				aspect-ratio: 1;
			}
		}
	}
		
	#color-btn-row {
		@extend %btn-row;
		button {
			border: 0.2em solid;
		}
	}
	
	#action-btn-row {
		@extend %btn-row;
		.spacer {
			flex: 2;
		}
		#submit-btn {
			flex: 5;
			
			font-size: 1.0em;
			background-color: #4A5;
			transition: background-color 0.8s;
			
			&:hover:enabled { filter: brightness(1.06); }
			&:active:enabled { background-color: #090; }
			&:disabled { background-color: #070; }
		}
	}
}
