@use "theme.scss" as *;
@use "flow.scss" as *;

.countdown {
	font-size: 1.6em;
	text-align: center;
	min-width: 3ch;
}

.player-icon {
	$size: 1.6em;
	width: $size;
	height: $size;
	flex: 0 0 $size;
	
	&.disabled {
		filter: brightness(50%) grayscale(50%);
	}
}
.player-view {
	@include row(center, center, 8px);
	max-width: 100%;
	width: min-content;
	min-width: 3ch;
	font-size: 1.1em;
	text-wrap: nowrap;
	.name {
		//min-width: 0; // maybe necessary? not sure
		flex: 1 1 auto;
		text-align: start;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.score {
		font-size: 1.16em;
	}
}

button {
	&.green {
		background-color: success(1);
		&:hover { background-color: success(2) !important; }
		&.selected { background-color: success(2); }
	}
	&.red {
		background-color: error(1);
		&:hover { background-color: error(2) !important; }
		&.selected { background-color: error(2); }
	}
}
.multi-btn {
	@include row(center);
	font-size: 0.9em;
	
	button {
		$rad: 6px;
		border-radius: 0;
		//background-color: gray(1);
		//&:hover { background-color: gray(2); }
		//&.selected { background-color: gray(3); }
		&:first-child {	border-radius: $rad 0 0 $rad; }
		&:last-child { border-radius: 0 $rad $rad 0; }
		&:only-child { border-radius: $rad; }
		&:not(:first-child) { border-left: none; }
	}
}
.card {
	@include column(flex-start, stretch, 8px);
	padding: 8px;
	
	@include border-light(2px, 6px);
	background-color: primary(3);
	
	.header {
		@include row(space-between, center);
		border-bottom: border(2px);
	}
}


#status {
	text-align: center;
	font-weight: bold;
}
#status.error {
	color: #A00;
}

#logo-icons {
	@include row(center, center);
	max-width: 94vw;
	font-size: 1.4rem;
	/*>* {
		flex: 1 1 0;
		min-width: 0;
		height: auto;
		object-fit: contain;
	}*/
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	
	@include column(center, center);
	padding: none;
	
	border: none;
	background-color: rgba(0, 0, 0, 0.45);
}

/*.icon-btn {
	width: 2.4em;
	height: 2.4em;
	padding: 0.2em;
	margin: none;
	
	img {
		margin: none;
		width: 100%;
		height: 100%;
	}
}*/
.nav-btn {
	
	
	
	
	width: auto;
	height: 100%;
	aspect-ratio: 1;
	
	@include row(center, stretch);
	padding: 1px;
	
	@include border-thin(6px);
	background-color: gray(2);
	transition: background-color 0.1s, transform 0.1s;
	
	img {
		width: 100%;
		height: 100%;
	}
	
	&:disabled {
		filter: brightness(65%);
	}
	&:not(:disabled) {
		&:hover {
			background-color: gray(1);
		}
		&.selected {
			background-color: gray(1);
			transform: scale(1.1);
		}
	}
	
	
	
}

.submission {
	
	
	position: relative;
	min-width: 0;
	min-height: 0;
	aspect-ratio: 9 / 10;
	flex: 0 0 auto;
	@include column(space-between, center);
	//@include theme.panel(0.2em);
	padding: 8px;
	
	@include border-thin(8px);
	background-color: #eee;
	//height: auto;
	
	animation: submission-fade-in 0.4s;
	animation-fill-mode: backwards;
	
	@keyframes submission-fade-in {
		from {
			transform: translateY(30px);
			filter: opacity(0);
		}
	}
	
	.name {
		font-size: 1.3em;
		overflow-wrap: break-word;
		max-width: 100%;
		//text-wrap: nowrap;
	}
	.img-ctr {
		
		flex: 1 1 0;
		min-width: 0;
		min-height: 0;
		aspect-ratio: 1;
		position: relative;
		
		.drawing {
			min-width: 100%;
			max-width: 100%;
			min-height: 100%;
			max-height: 100%;
		}
		
		.vote-ctr {
			position: absolute;
			top: 0.1em;
			left: 0.1em;
			right: 1.2em;
			bottom: 0.1em;
			
			@include flex(row wrap, flex-start, flex-start);
			align-content: flex-start;
			//gap: 10px;
			gap: 0;
			
			font-size: 1.2em;
			
			.player-icon {
				$transform: translate(0.6em, 0.6em) scale(2, 2);
				transform: $transform;
				animation: vote-fade-in 0.7s;
				@keyframes vote-fade-in {
					0% { opacity: 0; transform: $transform rotate(-30deg); }
					45% { opacity: 0.5; transform: $transform rotate(25deg); }
					100% { opacity: 1; transform: $transform rotate(0deg); }
				}
			}
		}
	}
}



