
@use "flow.scss" as *;

.countdown {
	font-size: 1.6em;
	text-align: center;
	min-width: 3ch;
}

.player-icon {
	$size: 1.5em;
	width: $size;
	height: $size;
	flex: 0 0 $size;
}
.player-view {
	@include row(0.3em);
	font-size: 1.3em;
	text-wrap: nowrap;
}

.multi-btn {
	@include row(center);
	font-size: 0.9em;
	
	button {
		$rad: 6px;
		border-radius: 0;
		&.selected { background-color: #AAA; }
		&:first-child {	border-radius: $rad 0 0 $rad; }
		&:last-child { border-radius: 0 $rad $rad 0; }
		&:only-child { border-radius: $rad; }
		&:not(:first-child) { border-left: none; }
	}
}

#status {
	text-align: center;
	font-weight: bold;
}
#status.error {
	color: #A00;
}

#logo {
	#icon-row {
		@include row(center);
		font-size: 1.6em;
	}
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	
	@include column(center, center);
	padding: none;
	
	border: none;
	background-color: rgba(0, 0, 0, 0.45);
}

.icon-btn {
	width: 2.4em;
	height: 2.4em;
	padding: 0.2em;
	margin: none;
	
	img {
		margin: none;
		width: 100%;
		height: 100%;
	}
}

#tray {
	position: fixed;
	left: 0.5em;
	bottom: 0.5em;
	@include row(0.5em);
}

.submission {
	@include column(space-between, center);
	//height: auto;
	min-width: 0;
	min-height: 0;
	aspect-ratio: 9 / 10;
	flex: 0 0 auto;
	
	padding: 0.2em;
	background-color: #eee;
	border: 3px solid black;
	border-radius: 8px;
	
	position: relative;
	
	.name {
		font-size: 1.3em;
		text-wrap: nowrap;
	}
	.img-ctr {
		
		flex: 1 1 0;
		min-width: 0;
		min-height: 0;
		aspect-ratio: 1;
		position: relative;
		
		.drawing {
			max-width: 100%;
			min-width: 100%;
		}
		
		.vote-ctr {
			position: absolute;
			top: 2%;
			left: 2%;
			right: 2%;
			bottom: 2%;
			
			@include flex(row wrap, flex-start, flex-start);
			font-size: 2.4em;
			.player-icon {
				animation: fadeIn 0.7s;
				@keyframes fadeIn {
					0% { opacity: 0; rotate: -30deg; }
					50% { opacity: 0.5; rotate: 25deg; }
					100% { opacity: 1; rotate: 0deg; }
				}
			}
		}
	}
	
}

