
@use 'sass:meta';
@use 'sass:list';
@use 'sass:math';
@use './theme.scss';


@function is-length($val) {
	@return meta.type-of($val) == "number";
}
@mixin flex($flow: column nowrap, $args...) {
	
	$default-justify-content: flex-start;
	$default-align-items: stretch;
	
	display: flex;
	flex-flow: $flow;
	
	@if list.length($args) == 0 {
		justify-content: $default-justify-content;
		align-items: $default-align-items;
	} @else if list.length($args) == 1 {
		align-items: $default-align-items;
		@if is-length(list.nth($args, 1)) {
			justify-content: $default-justify-content;
			gap: list.nth($args, 1);
		} @else {
			justify-content: list.nth($args, 1);
		}
	} @else if list.length($args) == 2 {
		justify-content: list.nth($args, 1);
		@if is-length(list.nth($args, 2)) {
			align-items: $default-align-items;
			gap: list.nth($args, 2);
		} @else {
			align-items: list.nth($args, 2);
		}
	} @else {
		justify-content: list.nth($args, 1);
		align-items: list.nth($args, 2);
		gap: list.nth($args, 3);
	}
}
@mixin row($args...) {
	@include flex(row, $args...);
}
@mixin row-wrap($args...) {
	@include flex(row wrap, $args...);
}
@mixin row-reverse($args...) {
	@include flex(row-reverse, $args...);
}
@mixin row-reverse-wrap($args...) {
	@include flex(row-reverse wrap, $args...);
}
@mixin column($args...) {
	@include flex(column nowrap, $args...);
}
@mixin column-wrap($args...) {
	@include flex(column wrap, $args...);
}
@mixin column-reverse($args...) {
	@include flex(column-reverse, $args...);
}
@mixin column-reverse-wrap($args...) {
	@include flex(column-reverse wrap, $args...);
}




@mixin grid($args...) {
	display: grid;
	
	@if list.length($args) == 0 {
		
	} @if list.length($args) == 1 {
		@if is-length(list.nth($args, 1)) {
			gap: list.nth($args, 1);
		} @else {
			grid-template-columns: list.nth($args, 1);
		}
	} @else if list.length($args) == 2 {
		grid-template-columns: list.nth($args, 1);
		@if is-length(list.nth($args, 2)) {
			gap: list.nth($args, 2);
		} @else {
			grid-template-rows: list.nth($args, 2);
		}
	} @else {
		grid-template-columns: list.nth($args, 1);
		grid-template-rows: list.nth($args, 2);
		gap: list.nth($args, 3);
	}
}
@mixin grid-column-range($start, $end) {
	grid-column-start: $start;
	grid-column-end: $end;
}
@mixin grid-row-range($start, $end) {
	grid-row-start: $start;
	grid-row-end: $end;
}
@mixin grid-range($column-start, $column-end, $row-start, $row-end) {
	@include grid-column-range($column-start, $column-end);
	@include grid-row-range($row-start, $row-end);
}

@mixin vflow($gap: 0.3em) {
	@include column($gap);
	text-align: center;
}
/*@mixin popup {
	@include vflow(0.3em);
	
	max-width: 90vw;
	margin: 0.6em;
	padding: 0.6em;
	
	font-size: 1em;
}*/

.vflow {
	@include vflow;
}
.mode {
	flex: auto;
	@include vflow;
}
/*.tab {
	flex: auto;
	@include vflow;
	margin: 0.5em;
	font-size: 1.2em;
}*/
/*.popup {
	@include popup;
}*/

