
@use "flow.scss" as *;
@use "theme.scss" as theme;
//@forward "theme.scss" as theme;
@forward "flow.scss";
@forward "components.scss";

* {
	margin: 0px;
	user-select: none;
}

html {
	@include column(flex-start, stretch);
	height: 100%;
}
body {
	@include column(flex-start, stretch);
	height: calc(100% - 1em);
	margin: 0.5em;
	font-family: Arial;
	background-color: theme.$background-color;
	//overflow-x: auto;
}


button, input {
	@include theme.border;
	border-color: #333;
	font-size: 1.0em;
	color: black;
}
