

//$border: 3px solid black;
//$border-radius: 8px;

@use 'sass:list';

$border-weight: 3.5px;
$border-radius: 8px;
$background-color: #f9ddcc;
$light: #fff0e7 #f9ddcc #e0cab6 #d2b48c #a86;
$gray: #eee #ddd #aaa #888 #555 #222 #000;
$dark: #543 #432 #321 #210;


@function primary($n) {
	@return list.nth($light, $n);
}
@function secondary($n) {
	@return list.nth($dark, $n)
}
@function gray($n) {
	@return list.nth($gray, $n);
}



$border-color: #210;
$border-thin: 3px solid $border-color;
$border-thick: 4px solid $border-color;
/*@function border($w) {
	@return $w solid $border-color;
}*/
@mixin border($r: 0px) {
	
}
@mixin border-thin($r: 8px) {
	border: $border-thin;
	border-radius: $r;
}
@mixin border-thick($r: 8px) {
	border: $border-thick;
	border-radius: $r;
}
@mixin panel-thick($r: 8px) {
	@include border-thick($r);
	
}
@mixin panel-thin($r: 8px) {
	@include border-thin($r);
}



/*@mixin border {
	border: $border-weight solid black;
	border-radius: $border-radius;
}*/

/*@mixin btn-panel() {
	@include border;
}
@mixin input-panel() {
	@include border;
}*/


