
@use "../styles/index.scss" as *;
@use "../styles/theme.scss" as theme;

:root {
	width: min-content;
	min-width: 100%;
	background-image: url("../assets/misc/background.png"); //url("/static/background.png")
}

#lobby {
	height: 100%;
	#close-btn {
		background-color: #f88;
		&:hover {
			background-color: #d55;
		}
	}
}
#lobby-content {
	flex: 1;
	min-height: 0;
	@include row(center, stretch, 18px);
	font-size: 1.2em;
	
	>.page {
		//height: 60vh;
		//min-height: 0;
		//height: 80vh;
		//min-height: min-content;
		background-color: primary(3);
		//min-width: 360px;
		//width: 400px;
		min-width: max(300px, 24ch);
		
		@include border-thick(8px);
		gap: 18px;
	}
	
	/*#overview, #settings {
		background-color: primary(3);
		//min-width: 360px;
		width: 400px;
		
		@include border-thick(8px);
		gap: 18px;
	}*/
	/*.page + .page {
		border-left: 2px solid secondary(3);
	}*/
	#overview {
		
		#overview-ctr {
			
			flex: 1 1 0;
			//flex: 0 0 auto;
			@include column(flex-start, stretch, 8px);
			padding: 8px;
			
			@include border-thin(8px);
			
			#join-code-ctr {
				flex: 0 1 auto;
				@include column;
				
				#join-code {
					font-size: 3em;
				}
				#site-link {
					margin-top: 6px;
					font-size: 0.8em;
				}
			}
			
			
			#qr-code-ctr {
				flex: 0 1 min-content;
				@include column(center, center, 4px);
				//min-height: 0;
				//min-height: min-content;
				min-height: 160px;
				
				#qr-code-caption {
					font-size: 0.8em;
				}
				#qr-code {
					//min-width: 10px;
					max-width: 80%;
					min-height: 0;
					//min-height: 0;
					
					aspect-ratio: 1;
					@include border-thin(8px);
				}
			}
		}
	}
	#players {
		#players-status {
			//font-size: 0.9em;
			font-size: 1.1em;
			margin-bottom: 4px;
		}
		#players-list {
			font-size: 0.86em;
			flex: auto;
			@include column(flex-start, center);
			padding: 8px;
			@include border-thin(8px);
			
			
			/*.player-view {
				@include row(flex-start);
				text-align: start;
				max-width: 100%;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				//display: inline-block;
			}*/
		}
	}
	#settings {
		#utils {
			@include row-wrap(center, center, 6px);
		}
		#settings-list {
			//flex: auto;
			//min-height: 0;
			min-height: 0;
			@include column(12px);
			padding: 8px;
			@include border-thin(8px);
			
			.setting-select {
				.name {
					font-size: 0.9em;
					margin-bottom: 2px;
				}
			}
		}
		#settings-ctr {
			min-height: 0;
			@include column(12px);
			padding: 8px;
			@include border-thin(8px);
			
			
			
			/*.setting-select + .setting-select {
				border-top: 2px solid black;
			}*/
			
		}
	}
	
}

#showing-scores {
	
}

//$ready-display-space: calc(3rem + 2px + 2 * theme.$border-weight);

.score-entry-ctr {
	//@include column(center, center);
	//flex: auto;
	//min-width: 16em;
	//@include column-wrap(center, center);
	
	.player-view {
		//min-width: 32ch;
		//@include row(center, center);
		.score {
			margin-left: 20px;
		}
		font-size: 1.3em;
	}
}

.submission-ctr {
	flex: 1 1 0;
	min-width: 97vw;
	//margin-bottom: $ready-display-space;
	@include column(center, stretch, 8px);
	
	.submission-row {
		flex: 1 1 0;
		min-height: 0;
		@include row(center, stretch, 8px);
		
		// special one-row case
		&:only-child {
			max-height: 70%;
			//height: auto;
			//@include row(center, center, 8px);
			/*.submission {
				//flex: 1 1 0;
			}*/
		}
		
		#vs-icon {
			aspect-ratio: 1;
			flex: 0 1 0px;
			max-height: 36vh;
			align-self: center;
			
			animation: submission-fade-in 0.4s;
			animation-fill-mode: backwards;
		}
	}
}


#ready-display {
	bottom: 0.5rem;
	@include row(center, center, 2px);
	
	//@include theme.panel(2px);
	@include border-thin();
	background-color: primary(3);
	padding: 2px;
	
	.player-icon {
		font-size: 1.6rem;
		transition: filter 0.15s;
		&:not(.disabled) {
			animation: bounce 0.3s;
			@keyframes bounce {
				0% { transform: translateY(0em); }
				50% { transform: translateY(-0.4em); }
				100% { transform: translateY(0em); }
			}
		}
	}
	
}


#dating-recap {
	
	@include popup;
	@include column(flex-start, center);
	
	margin: 8px;
	width: calc(100% - 16px);
	
	overflow-y: scroll;
	
	/*@media only print {
		width: auto;
    height: auto;
    overflow: visible;
	}*/
	
	
	//min-height: min-content;
	
	#recap {
		min-height: min-content;
		flex: 1 0 0;
		//align-self: stretch;
		padding-bottom: 1em;
		//margin: 1em;
		width: 100%;
		
		@include column(1em);
		//@include theme.panel;
		//overflow-y: scroll;
		
		.round {
			
			width: 100%;
			
			@include column(flex-start, stretch, 1em);
			
			.matchup {
				max-width: 100%;
				
				@include row(center, center, 0.5em);
				
				.spacer {
					flex: 0.8 0.8 0;
				}
				.submission {
					flex: 1 1 0;
				}
				
				>img {
					min-width: 0;
					min-height: 0;
					aspect-ratio: 1;
					flex: 0.6 1 0;
				}
			}
		}
	}
}
