
@use "../styles/index.scss" as *;
@use "../styles/theme.scss" as theme;

$ready-icons-space: calc(3rem + 2px + 2 * theme.$border-weight);

.score-entry-ctr {
	min-width: 16em;
	@include flex(column nowrap);
	
	.score-entry {
		@include row(space-between);
		font-size: 1.3em;
	}
}

.submission-ctr {
	flex: 1 1 0;
	width: 96vw;
	margin-bottom: $ready-icons-space;
	@include column(center, stretch, 0.6em);
	
	.submission-row {
		flex: 1 1 0;
		min-height: 0;
		@include row(center, stretch, 0.6em);
		
		// special one-row case
		&:only-child {
			//height: auto;
			flex: 0 1 66%;
		}
		
		#vs-icon {
			aspect-ratio: 1;
			flex: 0 1 0px;
			max-height: 36vh;
			align-self: center;
		}
	}
}


#ready-icons {
	position: fixed;
	bottom: 0.5rem;
	@include row(2px);
	@include theme.panel(2px);
	
	.player-icon {
		font-size: 2rem;
	}
}

#lobby {
	@include row(space-around, flex-start);
	#join-code {
		font-size: 3em;
	}
	#player-list {
		#status {
			font-size: 0.75em;
			margin-bottom: 4px;
		}
	}
	.setting-select {
		margin: 6px;
		.name {
			font-size: 0.9em;
			margin-bottom: 4px;
		}
	}
}



#dating-recap.popup {
	
	overflow-y: scroll;
	width: 96vw;
	
	#recap {
		flex: 1 0 0;
		//align-self: stretch;
		padding-bottom: 1em;
		//margin: 1em;
		width: 100%;
		
		@include column(1em);
		//@include theme.panel;
		//overflow-y: scroll;
		
		.round {
			
			width: 100%;
			
			@include column(flex-start, stretch, 1em);
			
			.matchup {
				max-width: 100%;
				
				@include row(center, center, 0.5em);
				
				.spacer {
					flex: 0.8 0.8 0;
				}
				.submission {
					flex: 1 1 0;
				}
				
				>img {
					min-width: 0;
					min-height: 0;
					aspect-ratio: 1;
					flex: 0.6 1 0;
				}
			}
		}
	}
}
